* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 5, 26);
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(18, 18, 44);
    border: solid rgb(34, 22, 138) 1px;
    border-radius: 10px;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin: 0 23px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: rgb(175, 61, 228);
    font-size: 1.02rem;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23px 0;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 2.4rem;
}

.rightsection img {
    width: 60%;
    margin: 50px 0;
}

.purple {
    color: purple;
}

#element {
    color: purple;
}
.secondsection{
    max-width: 80vw;
    margin: auto;
}
.line{
    background-color: red;
}
.secondsection h1{
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 65px;
    font-size: 2rem;
}
.skills ul li{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100px;
    align-items: center;
   padding : 0 50px;
    border-radius: 30%;
}
main hr{
    border : 0;
    background: rgb(145, 26, 145);
    height: 1.2px;
    margin: 40px 84px;
}
.skills ul li img{
    height: 200px;
    width: 200px;
}
.skills ul li :hover{
    height: 210px;
    width: 210px;
    opacity: 80%;
}
.footer{
    background-color: rgb(27, 27, 51);
    color: gray;
    padding-top: 20px;
    height: 140px;
    margin-top: 79px;
}
.footertitle{
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    padding: 20px 0;
}
.footer .footertitle2{
    display: flex;
    justify-content: center;
}
.leftsection .btn {
    background-color: #05051a;
    color: white;
    border: solid 1px white;
    padding: 9px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 32px;
}
main .firstsection .btn:hover{
    background-color: grey;
    color: purple;
    border: solid 1px purple;
}
